<h1>Site Access Required</h1>
<p>
  You do not have access to any sites.  Please contact an admistrator to request
  access to a site or sites.
</p>
<p>
  <%= link_to('Sign Out', signout_path) %>
</p>