<h1>
  <% if params[:for_role] %>
    <%= params[:for_role].titleize.pluralize %>
  <% else -%>
  Users
  <% end -%>
  <% if search_param? -%><em>Search results for '<%= params[:search] %>'</em><% end -%>
</h1>
<%= render :partial => 'users' %>