development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test: &TEST
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

staging:
  adapter: mysql
  database: completions_staging
  username: staging_user
  password: some-password
  host: localhost
  encoded: utf8
  pool: 5
  timeout: 5000

production:
  adapter: mysql
  database: completions_production
  username: production_user
  password: some-password
  host: localhost
  encoded: utf8
  pool: 5
  timeout: 5000

cucumber:
  <<: *TEST