<h1>New Inventory Asset</h1>

<%= render :partial => 'form', :locals => {:button => 'Create Inventory Asset'} %>

<p class="back-link">
  <%= link_to "Back to Inventory Assets list", last_inventory_assets_path %>
</p>