<h1>Edit Notification</h1>

<%= render :partial => 'form', :locals => {:button => 'Update Notification'} %>

<p class="back-link">
  <%= link_to "Back to Notifications list", last_notifications_path %>
</p>