<h1>
  <% if params[:for_site] %>
    <%= params[:for_site].titleize.pluralize %>
  <% else -%>
  Notifications
  <% end -%>
  <% if search_param? -%><em>Search results for '<%= params[:search] %>'</em><% end -%>
</h1>
<%= render :partial => 'notifications' %>