<% 
  title 'Appointments' 
  desc =<<-DESC.strip
      
  DESC
  description desc
%>
<div id="main">
  <h1>Appointments</h1>
  
</div>
<hr/>
<div id="sidebar">
  <%= render :partial => 'shared/contact' %>
</div>