<div id="header">
  <div id="branding" class="yui-g">
    <div id="logo" class="yui-u first">
    	<div class="yui-u first">
    	  <%= image_tag('gf-lt-logo.png') %>
    	</div>
    </div>	
  </div>  
</div>