<p id="footer-left" class="alignleft">
  <span id="footer-thankyou">
    Powered by <a href="http://geoforce.net/">Geoforce</a>
  </span>
</p>
<p id="footer-version" class="alignright">Version 0.0.1</p>
<div class="clear"/>