html{background:#fff url("/img/masthead-bg.v1252535932.jpg") repeat-x;}
body{font:14px/1.35 Georgia,serif;color:#222;background:url("/img/floral.v1257119638.jpg") 50% 0 no-repeat;}
a:link,a:active{border-bottom:1px dotted #b5b599;text-decoration:none;color:#811001;}
a:visited{border-bottom:1px dotted #b5b599;text-decoration:none;color:#90907d;}
a:hover{color:#cb6f14;border-bottom:1px dotted #cb6f14;}
a:focus{-moz-outline-style:none;}
a img{display:block;border-width:0;border-style:none;}
h1,h2{font-family:"apertura-condensed-1","apertura-condensed-2","KievitPro","Helvetica",sans-serif;font-weight:normal;font-size:36px;line-height:1;}
hr{display:none;}
p{margin:0 0 .8em;}
#skip{position:absolute;left:-9999px;}
#container{margin-top:-88px;background:url("/img/bg/white-shadow.v1257119638.png") 50% 0 no-repeat;}
#wrapper{margin:0 auto;padding:29px 0 0 0;width:960px;min-height:700px;}
#logo{float:left;margin:59px 0 0 17px;width:192px;height:53px;}
#logo a{display:block;width:192px;height:53px;border-bottom:0;background:url("/img/logo.v1257172317.png") 0 0 no-repeat;text-indent:-9999em;}
#logo img{display:block;width:0;}
#main{position:relative;clear:both;float:left;margin:25px 30px 70px 14px;width:615px;}
#listing #main,#secondary #main,#contest #main{margin-right:45px;width:600px;}
#home #main{margin:0 30px 50px 0;width:690px;}
#aside{float:left;margin:22px 0 70px;width:240px;}
#home #aside{margin-top:0;}
#listing #aside,#secondary #aside,#postlisting #aside,#contest #aside{padding-left:30px;min-height:494px;font:11px Helvetica,Arial,sans-serif;background:url("/img/sidebar-bg.v1257121111.png") no-repeat;}
.clear{clear:both;}
.starthidden{display:none;}
.button{border:0;text-indent:-9999em;display:block;cursor:pointer;}
input[type="text"],textarea{background-color:#e4e4de;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid;border-color:#b3b3ae #ebebe6 #edede9 #bebeb9;font:13px Helvetica,Arial,sans-serif;padding:8px;width:367px;margin:1px 0;}
input[type="text"]:focus,textarea:focus{background-color:#fff;outline:0;}
input.blur,textarea.blur{color:#999;}
.successed{margin-top:1.5em;color:#222;}
.quote blockquote p strong{font-weight:normal;}
.quote .author{font-weight:bold!important;color:#222;}
#header-wrapper{height:220px;}
#header{position:relative;width:960px;margin:0 auto;overflow:hidden;}
ul#supernav{position:absolute;top:0;right:0;background:#3e3c37 url("/img/supernav-bg.v1252545569.gif") center bottom repeat-x;}
ul#supernav li{float:left;}ul#supernav li+li,ul#supernav li+li+li{border-left:1px solid #45423c;}
ul#supernav li a{display:block;padding:10px 20px;font:10px Helvetica,Arial,sans-serif;color:#848074;border-bottom:0;}
ul#supernav li#nav-feedback a{padding-left:32px;background:url("/img/icon-feedback.v1257119638.png") 11px center no-repeat;}
ul#supernav li#nav-rss a{padding-left:32px;background:url("/img/icon-rss.v1257119638.png") 11px center no-repeat;}
ul#supernav li#nav-twitter a{padding-left:32px;background:url("/img/icon-twitter.v1257119638.png") 11px center no-repeat;}
ul#supernav li#nav-feedback a:hover,ul#supernav li#nav-rss a:hover,ul#supernav li#nav-twitter a:hover{color:#cb6f14;background-color:#403e39;}
.contest-badge{position:absolute;top:0;left:0;z-index:1000;width:99px;height:99px;}
.contest-badge a{display:block;width:99px;height:99px;text-indent:-9999px;border-bottom:0;background:url("/img/contest-badge.v1257569004.png") no-repeat;}
#sitenav{margin:75px 0 0 75px;float:left;}
#sitenav ul{font-family:Helvetica,Arial,sans-serif;overflow:hidden;}
#sitenav li{float:left;margin:0 15px;}
#sitenav li a{display:block;height:22px;text-indent:-9999px;border-bottom:0;}
#sitenav li a:hover{background-position:0 -22px;}
#nav-all a{width:63px;background:url("/img/nav-alljobs.v1257119638.png") no-repeat;}
#nav-post a{width:76px;background:url("/img/nav-post.v1257119638.png") no-repeat;}
#nav-testimonials a{width:95px;background:url("/img/nav-testimonials.v1257119638.png") no-repeat;}
#nav-blog a{width:44px;background:url("/img/nav-blog.v1257119638.png") no-repeat;}
#nav-api a{width:32px;background:url("/img/nav-api.v1257119638.png") no-repeat;}
#nav-contact a{width:65px;background:url("/img/nav-contact.v1257119638.png") no-repeat;}
#home li#nav-all a,#postlisting li#nav-post a,.testimonials li#nav-testimonials a,.blog li#nav-blog a,.api li#nav-api a,.contact li#nav-contact a{background-position:0 -22px;}
#secondary h2{margin:.7em 0 1.3em;font-family:"apertura-condensed-1","apertura-condensed-2","KievitPro","Helvetica",sans-serif;font-weight:normal;font-size:17px;color:#66665c;line-height:130%;}
#secondary h3{margin:1em 0 .2em;font-size:14px;}
#secondary #main p,#secondary #main dl{line-height:140%;}
#secondary #main a,#secondary #aside a{font-weight:bold;}
#secondary #aside ul{margin-bottom:1em;padding-left:17px;list-style-image:url("/img/bullet-arrow.v1257121111.png");}
#secondary #aside li{margin:3px 0;}
#secondary #aside p,#secondary #aside dl,#secondary #aside ul{line-height:140%;color:#66665c;}
#secondary #aside p strong,#secondary #aside dl strong,#secondary #aside ul strong{color:#222;}
#secondary #aside h3{margin:1.5em 0 .3em;color:#686d02;font-size:15px;}
#secondary #post{margin:0 0 20px;background:#e4dfd2;}
#secondary #post-wrapper{padding:17px 24px 4px;}
#secondary #post h2{margin:0 0 6px;width:191px;height:42px;}
#secondary #post p{margin:0;text-align:center;}
#secondary #post sup{position:relative;bottom:.33em;font-size:9px;letter-spacing:1px;}
#secondary #post dl{margin:0;padding:0 0 4px 2px;border-bottom:1px solid #bbb7ac;}
#secondary #post dt{display:inline;margin:0 2px 0 0;padding-left:10px;font:15px Georgia,serif;color:#242424;}
#secondary #post dd{display:inline;font:11px/22px Helvetica,Arial,sans-serif;color:#66665c;}
#secondary #post dd.last{margin-right:0;}
#secondary #post a{border-bottom-color:#438843;font:11px/1.35 Helvetica,Arial,sans-serif;text-decoration:none;color:#438843;}
#secondary #post h2 a{display:block;border-bottom:0;width:191px;height:42px;text-indent:-9999px;background:url("/img/post-job.v1257119638.png") no-repeat;}
#secondary #post p{margin-bottom:0;}
#secondary #post p a{display:block;border-bottom:0;width:240px;height:61px;text-indent:-9999px;background:url("/img/guarantee-secondary.v1256676957.gif") no-repeat;}
#secondary form{text-align:center;}
#secondary fieldset{text-align:left;}
#secondary fieldset{border:1px solid #cfcfc1;margin-top:40px;padding:30px 55px 20px;}
#secondary legend{background-color:#f0eee8;border:1px solid #cfcfc1;text-transform:uppercase;font:11px Georgia,serif;letter-spacing:1px;padding:5px 15px;margin-left:-36px;}
#secondary div.wrap{position:relative;clear:both;}
#secondary div.wrap input.error,#secondary div.wrap textarea.error{margin-bottom:4px;}
#secondary div.wrap label.error{margin-bottom:8px;}
#secondary label{clear:both;float:left;margin:9px 11px 0 0;padding-top:4px;width:105px;text-align:right;color:#222;font:14px Georgia,serif;cursor:pointer;}
#secondary label.selection{margin-top:1px;padding-top:0;cursor:auto;}
#secondary label.option{font-size:12px;text-align:left;clear:none;float:none;width:auto;}
#secondary label.option em{color:#66665c;font-style:italic;}
#secondary label.option.radio{font-weight:bold;font-size:14px;}
#secondary textarea{display:block;float:left;margin:5px 0;padding:8px;width:350px;font-family:Helvetica,Arial,sans-serif;}
#secondary input.text,#secondary input.url,#secondary textarea,#secondary select{display:block;float:left;margin:5px 0;width:350px;}
#secondary .example{clear:left;color:#66665c;font:11px/1.5 Helvetica,Arial,sans-serif;margin:4px 0 10px 116px;}
#secondary form .example strong{color:#222;}
#secondary button#skadoosh{margin:40px auto 0;width:191px;height:42px;background:transparent url('/img/button-skadoosh.v1256680535.png') scroll no-repeat 0 0;}
#secondary button#request{margin:40px auto 0;width:191px;height:42px;background:transparent url('/img/button-request-key.v1256682301.png') scroll no-repeat 0 0;}
#secondary button#apply{margin:40px auto 0;width:151px;height:42px;background:transparent url('/img/button-apply.v1256705061.png') scroll no-repeat 0 0;}
button#remove{margin:30px auto 0;width:211px;height:42px;background:transparent url('/img/button-remove-listing.v1257306835.png') scroll no-repeat 0 0;}
.or-cancel{margin-top:1em;}
.or-cancel a:visited{color:#811001;}
.or-cancel a:hover{color:#cb6f14;}
.feeds-list li{margin:12px 0;}
.feeds-list a{padding:2px 0 2px 22px;border-bottom:0;background:url("/img/icon-rss.v1257119638.png") left center no-repeat;}
p.dash-widget{margin-top:45px;}
p.dash-widget a{padding:20px 0 20px 52px;background:url(/img/icon_dashboard.v1184214327.gif) left center no-repeat;border-bottom:0;}
#costs{margin-bottom:30px;}
#costs h2{font:36px Georgia,serif;margin:0;color:#222;}
#costs p{margin-top:.4em;}
#costs h2 sup{position:relative;bottom:.33em;letter-spacing:1px;font-size:19px;}
#secondary textarea.affcode{height:80px;font-size:11px;}
#secondary .aff-example img{margin:20px auto 0;}
#secondary div#affrules{margin:15px 0;padding:3px 8px;overflow:auto;height:100px;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid;border-color:#b3b3ae #ebebe6 #edede9 #bebeb9;font:11px Helvetica,Arial,sans-serif;color:#66665c;background-color:#e4e4de;}
#secondary div#affrules ol{list-style-type:decimal;padding-left:17px;}
#secondary div#affrules ol li{margin:5px 0;}
#secondary label.agreement{clear:none;float:left;margin:0 0 10px;padding:0;width:350px;color:#66665c;font:11px/1.5 Helvetica,Arial,sans-serif;text-align:left;}#secondary input#agree{clear:both;float:left;margin:0 7px 0 98px;}#secondary h3.partner-heading{margin:1.2em 0 .3em;color:#686d02;font-size:21px;}#secondary pre{display:block;margin:0 0 30px;width:520px;overflow:auto;font-size:13px;color:#cb6f14;line-height:120%;padding:10px 20px;text-align:left;background:#eeede6;}#secondary ol.list{margin:0 0 20px;padding:0 0 0 22px;list-style-type:decimal;}#secondary ul.list{margin:0 0 20px;padding:0 0 0 22px;list-style-image:url("/img/bullet-arrow.v1257121111.png");}#secondary ol.list li,#secondary ul.list li{margin-top:7px;}#secondary blockquote{margin-bottom:1.7em;padding:2px 70px 0 30px;font-size:12px;font-style:italic;color:#474741;background:url("/img/bg/blockquote.v1254763556.png") 5px 0 no-repeat;}#secondary blockquote strong{color:#222;}#secondary p.cite{font-weight:bold;}div.quote{margin-top:20px;padding:2px 12px;border-left:5px solid #e4e4de;}#home blockquote+p,#postlisting blockquote+p{margin-bottom:0;}#listing h2{margin-top:5px;font-family:"apertura-condensed-1","apertura-condensed-2","KievitPro","Helvetica",sans-serif;font-weight:normal;font-size:20px;color:#686d02;}#listing h2 a{color:#686d02;border-bottom:0;}#listing h2 a:hover{color:#cb6f14;}#listing #main h3{position:relative;margin:15px 0 4px -42px;min-height:49px;padding:16px 0 0 145px;font-family:"apertura-condensed-1","apertura-condensed-2","KievitPro","Helvetica",sans-serif;font-weight:normal;font-size:18px;}#listing #main h3.fulltime{background:url("/img/badge-fulltime.v1257121111.png") no-repeat;}#listing #main h3.freelance{background:url("/img/badge-freelance.v1253252862.png") no-repeat;}#listing #main h3.apply{margin:30px 0 0 -31px;min-height:47px;background:url("/img/badge-apply.v1257121111.png") no-repeat;}
#listing #main h3 strong{position:absolute;top:0;left:-9999px;}
#listing #main h3 em{font-size:14px;font-style:normal;color:#66665c;}
#listing #main p,#listing #main ul{line-height:140%;}#listing #main ul{padding-left:20px;list-style-type:disc;}#listing #main p+ul{margin:-.8em 0 1em;}#listing #perks{margin:15px -17px 15px;padding:15px 17px 15px;background-color:#f1f1eb;border-width:1px 0;border-style:solid;border-color:#d1d0c4;font-size:12px;color:#66665c;line-height:120%;}#listing #perks h4{margin-bottom:.6em;height:15px;text-indent:-9999px;background:url("/img/ir-job-perks.v1253157451.png") no-repeat;}#listing #perks p{margin:0 0 .5em;}#listing #aside h4{margin-top:40px;width:151px;height:10px;text-indent:-9999px;background:url("/img/ir-possibly-related.v1257121111.png") no-repeat;}#listing #aside h5{font-weight:bold;margin-top:40px;}
#listing .meta{margin-top:20px;color:#66665c;line-height:140%;}#listing .meta strong{color:#222;}#listing .return{margin-top:30px;padding-top:15px;border-top:1px dotted #cfc8b6;}#listing .return a{padding:0 0 0 16px;font-size:10px;color:#66665c;text-transform:uppercase;letter-spacing:1px;border:0;background:url("/img/icon_leftarrow.v1184214327.gif") 0 50% no-repeat;}#listing .return a:hover{color:#cb6f14;}#listing span.highlight{padding:.1em;background-color:#f5df00;}.company-logo{margin-bottom:35px;padding:4px;-webkit-box-shadow:rgba(0,0,0,.30) 0 2px 3px;-moz-box-shadow:rgba(0,0,0,.30) 0 2px 3px;background:#fff;}ul.job-actions{border-top:1px dotted #cfc8b6;}ul.job-actions li{border-bottom:1px dotted #cfc8b6;}ul.job-actions li a{display:block;padding:10px 0 10px 38px;text-decoration:none;font-size:12px;color:#222;border-bottom:0;background-position:12px center;background-repeat:no-repeat;}ul.job-actions li a:hover{color:#cb6f14;background-color:#f2f0ea;}ul.job-actions li#share a{background-image:url(/img/icon-envelope.v1257121111.png);}
ul.job-actions li#short a{background-image:url(/img/icon-twitter.v1257119638.png);}
ul.job-actions li#flag a{background-image:url(/img/icon-flag.v1257121111.png);}
ul.related{padding-left:17px;list-style-image:url("/img/bullet-arrow.v1257121111.png");}
ul.related li{margin:10px 0;line-height:140%;}ul.related li a{padding-bottom:1px;}
ul.related li.all{font-weight:bold;}
#guarantee #container{padding-top:15px;background:url("/img/bg/white-shadow-guarantee.v1254458432.png") 50% 0 no-repeat;}
#guarantee #main{position:relative;clear:both;float:left;margin:0;width:100%;}
#guarantee-seal{float:left;padding:0 20px;}
#guarantee-headline{float:left;margin-top:20px;width:494px;}
#guarantee-headline h1{width:494px;height:25px;text-indent:-9999px;background:url("/img/ir-satisfaction-guarantee.v1254459726.png") no-repeat;}
#guarantee-headline h2{margin-top:12px;font-size:18px;font-weight:normal;color:#686d02;line-height:130%;font-family:Georgia,serif;}
#guarantee-post{float:left;padding:52px 0 0 65px;}#guarantee-letter{clear:left;padding-top:95px;}
#guarantee-photo{float:left;width:144px;padding:0 48px;}
#guarantee-photo img{margin:0 auto;background:#fff;-webkit-box-shadow:rgba(0,0,0,.30) 0 2px 3px;-moz-box-shadow:rgba(0,0,0,.30) 0 2px 3px;padding:5px;}
#guarantee-photo p{color:#66665e;text-align:center;font:11px Helvetica,Arial,sans-serif;}
#guarantee-photo p strong{display:block;margin:15px 0 3px;color:#222;}
#guarantee-content{float:left;margin-bottom:70px;width:494px;line-height:150%;}
#guarantee-content p strong{font-size:13px;text-transform:uppercase;letter-spacing:1px;}
dl#faq{margin-bottom:150px;}dl#faq dt{margin-top:1.3em;font-weight:bold;font-size:16px;}
dl#faq dd{margin:.2em 0 .7em;}
dl#faq dt:first-child{margin-top:0;}
ul#faq-nav{margin:1.5em 0 2em;padding-left:12px;list-style-image:url("/img/bullet-arrow.v1257121111.png");}
ul#faq-nav li{margin:.3em;}
dl#partner-links{margin-top:-10px;}
dl#partner-links dt{clear:left;display:block;float:left;padding:20px 0;width:160px;}
dl#partner-links dt img{display:block;margin:0 auto;}
dl#partner-links dd{float:left;padding:20px 0;width:440px;}
dl#partner-links+p{clear:left;padding-top:30px;}
dt.p-twitter{padding-top:25px!important;}
dt.p-hivelogic{padding-top:28px!important;}
dt.p-bereast{padding-top:40px!important;}
dt.p-airbag{padding-top:32px!important;}
dt.p-croft{padding-top:35px!important;}
dt.p-31three{padding-top:30px!important;}
dt.p-joblighted{padding-top:30px!important;}
#main div.error-wrap{display:none;}
#main label.error{font:bold 12px Helvetica,Arial,sans-serif;color:#b30000;margin:8px 0 0 116px;padding-top:0;float:none;width:auto;display:block;text-align:left;}
#main textarea.countwords ~ label.error{margin-bottom:8px;float:left;margin-top:1px;}
#main input.error[type="text"],#main textarea.error,#main span.mceEditor.error{border:2px solid #b30000;background-color:#fff;margin-top:0;margin-bottom:0;-moz-border-radius:4px;-webkit-border-radius:4px;}
#main span.mceEditor.error{margin-bottom:5px;}
#main textarea.error,#main table.mceLayout.error{margin-bottom:4px;}
img.warning{position:absolute;right:-38px;top:3px;display:none;}
#error{margin:30px 0 10px;padding:3px 40px 3px 55px;font:15px Helvetica,Arial,sans-serif;color:#fff;-moz-border-radius:6px;-webkit-border-radius:6px;background:#b30000 url("/img/warning.v1255210094.png") 15px 1em no-repeat;}
#error p{padding-top:1em;}
.overlay{display:none;z-index:10000;background-color:#fff;width:630px;min-height:100px;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;}
.overlay .modalheader{text-align:center;background:transparent url('/img/modal/header-gradient.v1257121111.png') scroll repeat-x 0 0;padding:30px 0;border-bottom:1px solid #e5e5e5;}
.overlay .modalheader h2,#subscribe .modalheader h2{color:#9d240d;font-family:"apertura-condensed-1","apertura-condensed-2","KievitPro","Helvetica",sans-serif;font-size:32px;font-weight:300;margin-bottom:15px;}
.overlay .modalheader p{font:italic 14px/1 Georgia,serif;margin-bottom:0;color:#222;}
.overlay .modalbody{overflow:hidden;position:relative;}
.overlay .modalfooter{border-top:1px solid #b2b2b2;background:transparent url('/img/modal/footer-gradient.v1257121111.png') scroll repeat-x 0 0;padding:24px 0;text-align:center;}
.overlay .close-btn{background:transparent url('/img/button-close.v1257119638.png') scroll no-repeat 0 0;margin:0 auto;width:89px;height:28px;border-bottom:0 none;}
#subscribe ul#methods{float:left;width:159px;padding:30px 0 140px;background:transparent url('/img/modal/tabs-gradient.v1254277926.gif') scroll repeat-y 0 0;background:url('/img/modal/tabs-fade.v1254277926.png') 0 100% repeat-x,url('/img/modal/tabs-gradient.v1254277926.gif') repeat-y;}
#subscribe ul#methods li{border-style:solid;border-color:#e3e3e3;border-top:1px solid #e3e3e3;}
#subscribe ul#methods li.last{border-bottom:1px solid #e3e3e3;}
#subscribe ul#methods li.active{background:transparent url('/img/modal/tab-active-fill.v1254277926.gif') scroll no-repeat 0 0;}
#subscribe ul#methods li a{display:block;padding:15px 0 15px 70px;border-bottom:0 none;font:normal 18px Georgia,serif;color:#333;background-color:transparent;background-repeat:no-repeat;background-position:25px 50%;}
#subscribe ul#methods li a:hover{color:#666;}
#subscribe ul#methods li.email a{background-image:url('/img/modal/envelope.v1257119638.png');}
#subscribe ul#methods li.twitter a{background-image:url('/img/modal/twitter.v1257119638.png');}
#subscribe ul#methods li.rss a{background-image:url('/img/modal/rss.v1257119638.png');}
#subscribe span#notch{display:block;position:absolute;top:46px;left:147px;width:12px;height:21px;background:transparent url('/img/modal/notch.v1257119638.png') scroll no-repeat 0 0;}
#subscribe div#process{float:left;width:470px;}#subscribe form{text-align:left;}
#subscribe div#process>div{padding:30px;display:none;}
#subscribe #process p{color:#222;font:normal 17px Georgia,serif;}
#subscribe #process div.wrap{position:relative;}
#subscribe #process label{float:none;width:auto;text-align:left;display:block;font-size:17px;margin:15px 0 8px;}
#subscribe #process label.option{color:#66665c;font-size:14px;display:inline;margin:0;}
#subscribe #process label.error{font-size:12px;margin-top:8px;}
#subscribe #process img.warning{right:-15px;top:35px;}
.overlay input[type="radio"]{margin-left:10px;}
#subscribe #process p.info{color:#66665c;font-size:12px;line-height:18px;margin-top:3px;}
#subscribe #notifyemail #subscribe-btn{background:transparent url('/img/modal/subscribe.v1257119638.png') scroll no-repeat 0 0;width:131px;height:36px;margin-top:20px;}#subscribe #notifytwitter ol.instructions{margin-left:22px;}#subscribe #notifytwitter ol.instructions li{list-style:decimal outside;font-size:17px;line-height:22px;color:#222;margin-bottom:15px;}#subscribe #notifytwitter ol.instructions li strong{font-weight:bold;color:#e08a20;}#subscribe #notifytwitter ol.instructions li strong#tweetcode{color:#222;display:block;margin-top:8px;}#subscribe #notifyrss a#customrss{padding-left:22px;background:transparent url('/img/modal/rss-icon.v1257119638.png') scroll no-repeat 0 0;margin-left:15px;border-bottom-width:0;color:#b30000;}
#subscribe #notifyrss #rssurl{margin-bottom:20px;}
.overlay img.warning{right:-15px;top:35px;}
#footer{clear:left;text-shadow:0 0 0 #31302b;background:#31302b url("/img/bg/footer-shadow.v1252361333.gif") 0 0 repeat-x;}
#footer-wrapper{margin:0 auto;padding:35px 0 25px;width:940px;overflow:auto;}
#footer p{clear:left;float:left;margin-right:10px;font:11px/1.35 Helvetica,Arial,sans-serif;color:#777368;}
#footer ul{float:left;}
#footer h4+ul{margin-bottom:10px;}
#footer h4+ul li a{color:#eeede5!important;border-bottom:1px dotted #656259!important;}
#footer li{float:left;margin:0 10px 0 0;padding:0;font:11px/1.35 Helvetica,Arial,sans-serif;background-image:none;}
#footer li a{color:#777368;border:0;}
#footer a:hover{color:#fff!important;border-bottom:1px dotted #fff!important;}
#footer-wrapper h4{float:right;margin-top:-5px;width:170px;height:20px;}
#footer-wrapper h4 a{display:block;width:170px;height:20px;text-indent:-9999px;border-bottom:0!important;background:url("/img/bg/moll-production.v1257121111.png");}
#footer-wrapper h4 a:hover{border-bottom:0!important;}
#recaptcha_widget_div{margin:0 auto;padding-left:37px;width:360px;overflow:hidden;text-align:center;}
#recaptcha_table{margin:0 auto;}
#recaptcha_table input[type="text"],#recaptcha_table textarea{border:1px solid;border-color:#b3b3ae #ebebe6 #edede9 #bebeb9!important;}
label[for="recaptcha_response_field"]{position:absolute;top:75px;left:45px;text-align:right;}
#unsupported{margin:30px 100px 0;text-align:center;}
#unsupported h1{font-family:Georgia,serif;line-height:140%;}
#unsupported h1 strong{font-size:48px;font-weight:normal;color:#811001;}
#unsupported p{margin:2em 150px;line-height:140%;}
#unsupported #browser{float:left;width:150px;margin:0 20px;}
#unsupported #browser a{display:block;font-weight:bold;border-bottom:0;}
#unsupported #browser img{display:block;margin:0 auto 10px;}
.clearfix:after{content:".";clear:both;height:0;visibility:hidden;display:block;}
.clearfix{display:inline-block;}
.clearfix{display:block;}