/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li label { float:none; }


/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li fieldset ol { float:none; width:100%; margin:0; padding:0; }

/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li p.inline-hints { color:#666; margin:0.5em 0 0 0; }


form.formtastic fieldset ol li {margin-bottom:1.1em;}

form.formtastic fieldset input,
form.formtastic fieldset textarea {
	padding:5px;
	border: 1px solid #CCC;
	background: #E4E4DE;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

form.formtastic fieldset input:focus,
form.formtastic fieldset textarea:focus {
	background: #FFF;
	border: 1px solid #CCC;
}

#contacts form.formtastic p.inline-hints {
	margin-top: .2em;
}

form.formtastic fieldset ol li label {
	font-size: 1.3em;
}
